TwilioIntegration/bin/Debug/staging/EmailApplication/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "servicebus_1_Connection_Name": {
      "type": "string",
      "defaultValue": "servicebus"
    },
    "servicebus_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Orckestra Dev"
    },
    "servicebus_1_connectionString": {
      "type": "securestring",
      "metadata": {
        "description": "Azure Service Bus Connection String"
      }
    },
    "twilio_1_Connection_Name": {
      "type": "string",
      "defaultValue": "twilio"
    },
    "twilio_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "Twilio Test"
    },
    "twilio_1_sid": {
      "type": "securestring",
      "metadata": {
        "description": "Twilio Account Id"
      }
    },
    "twilio_1_token": {
      "type": "securestring",
      "metadata": {
        "description": "Twilio Access Token"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Initialize_variable": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "MessageJSON",
                    "type": "String"
                  }
                ]
              },
              "runAfter": {}
            },
            "Switch": {
              "type": "Switch",
              "expression": "@triggerBody()?['ContentType']",
              "cases": {
                "Case": {
                  "case": "Orckestra.Overture.MessagingModel.Orders.OrderStatusChangedEvent, Orckestra.Overture.MessagingModel",
                  "actions": {
                    "CleanJSON": {
                      "type": "Compose",
                      "inputs": "@substring(base64ToString(triggerBody()?['ContentData']), indexof(base64ToString(triggerBody()?['ContentData']), '{'), sub(lastindexof(base64ToString(triggerBody()?['ContentData']), '}'),indexof(base64ToString(triggerBody()?['ContentData']), '{')))",
                      "runAfter": {}
                    },
                    "ParseMessageJSON": {
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@variables('MessageJSON')",
                        "schema": {
                          "properties": {
                            "__type": {
                              "type": "string"
                            },
                            "newStatus": {
                              "type": "string"
                            },
                            "orderId": {
                              "type": "string"
                            },
                            "previousStatus": {
                              "type": "string"
                            },
                            "scopeId": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "runAfter": {
                        "Set_variable": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Set_variable": {
                      "type": "SetVariable",
                      "inputs": {
                        "name": "MessageJSON",
                        "value": "@{outputs('CleanJSON')}"
                      },
                      "runAfter": {
                        "CleanJSON": [
                          "Succeeded"
                        ]
                      }
                    },
                    "Condition": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@body('ParseMessageJSON')?['newStatus']",
                              "Completed"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "GetOrder": {
                          "type": "Http",
                          "inputs": {
                            "method": "GET",
                            "uri": "https://ocscm.int.platform.orckestra.cloud:443/api/orders/@{body('ParseMessageJSON')?['scopeId']}/@{body('ParseMessageJSON')?['orderId']}?IncludeLineItems=false&IncludePayment=false&IncludeShipment=false",
                            "headers": {
                              "X-Auth": "Otlou2jI7qF6gGfvcEe1lqDzDDVkBmcAEl0l12hM6OKG4GFHUoiiwYH8olNrOmRMfXzaFY5CQ7GE7fSKqKA8UQ=="
                            }
                          },
                          "runAfter": {}
                        },
                        "Send_Text_Message_(SMS)": {
                          "type": "ApiConnection",
                          "inputs": {
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['twilio']['connectionId']"
                              }
                            },
                            "method": "post",
                            "body": {
                              "from": "+14387939816",
                              "to": "514894333",
                              "body": "@{outputs('ComposeCustomerMessage')}"
                            },
                            "path": "/Messages.json"
                          },
                          "runAfter": {
                            "ComposeCustomerMessage": [
                              "Succeeded"
                            ]
                          }
                        },
                        "ComposeCustomerMessage": {
                          "type": "Compose",
                          "inputs": "Dear @{body('ParseOrderDetails')?['customerName']} , your order from BetterRetail number@{body('ParseOrderDetails')?['orderNumber']} is on the way!",
                          "runAfter": {
                            "ParseOrderDetails": [
                              "Succeeded"
                            ]
                          }
                        },
                        "ParseOrderDetails": {
                          "type": "ParseJson",
                          "inputs": {
                            "content": "@body('GetOrder')",
                            "schema": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "orderStatus": {
                                  "type": "string"
                                },
                                "created": {
                                  "type": "string"
                                },
                                "createdBy": {
                                  "type": "string"
                                },
                                "lastModified": {
                                  "type": "string"
                                },
                                "lastModifiedBy": {
                                  "type": "string"
                                },
                                "orderNumber": {
                                  "type": "string"
                                },
                                "transactionOrderNumber": {
                                  "type": "integer"
                                },
                                "scopeId": {
                                  "type": "string"
                                },
                                "itemCount": {
                                  "type": "integer"
                                },
                                "customerId": {
                                  "type": "string"
                                },
                                "customerName": {
                                  "type": "string"
                                },
                                "cart": {
                                  "type": "object",
                                  "properties": {
                                    "customerId": {
                                      "type": "string"
                                    },
                                    "name": {
                                      "type": "string"
                                    },
                                    "cartType": {
                                      "type": "string"
                                    },
                                    "coupons": {
                                      "type": "array"
                                    },
                                    "shipments": {
                                      "type": "array"
                                    },
                                    "billingCurrency": {
                                      "type": "string"
                                    },
                                    "discountTotal": {
                                      "type": "integer"
                                    },
                                    "fulfillmentCost": {
                                      "type": "integer"
                                    },
                                    "subTotal": {
                                      "type": "integer"
                                    },
                                    "taxTotal": {
                                      "type": "integer"
                                    },
                                    "merchandiseTotal": {
                                      "type": "integer"
                                    },
                                    "adjustmentTotal": {
                                      "type": "integer"
                                    },
                                    "total": {
                                      "type": "integer"
                                    },
                                    "status": {
                                      "type": "string"
                                    },
                                    "scopeId": {
                                      "type": "string"
                                    },
                                    "customer": {
                                      "type": "object",
                                      "properties": {
                                        "firstName": {
                                          "type": "string"
                                        },
                                        "lastName": {
                                          "type": "string"
                                        },
                                        "email": {
                                          "type": "string"
                                        },
                                        "type": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "orderLocation": {
                                      "type": "object",
                                      "properties": {
                                        "name": {
                                          "type": "string"
                                        },
                                        "number": {
                                          "type": "string"
                                        },
                                        "timeZone": {
                                          "type": "string"
                                        }
                                      }
                                    },
                                    "lineItemsTotalWithoutDiscount": {
                                      "type": "integer"
                                    },
                                    "lineItemLevelDiscount": {
                                      "type": "integer"
                                    },
                                    "lineItemsTotal": {
                                      "type": "integer"
                                    },
                                    "additionalFeeTotal": {
                                      "type": "integer"
                                    },
                                    "fulfillmentLevelDiscountTotal": {
                                      "type": "integer"
                                    },
                                    "fulfillmentCostWithoutDiscount": {
                                      "type": "integer"
                                    },
                                    "shipmentLevelDiscountTotal": {
                                      "type": "integer"
                                    },
                                    "subTotalDiscount": {
                                      "type": "integer"
                                    },
                                    "cultureName": {
                                      "type": "string"
                                    },
                                    "itemCount": {
                                      "type": "integer"
                                    },
                                    "originalPromotions": {
                                      "type": "array"
                                    },
                                    "payments": {
                                      "type": "array"
                                    },
                                    "created": {
                                      "type": "string"
                                    },
                                    "lastModified": {
                                      "type": "string"
                                    },
                                    "id": {
                                      "type": "string"
                                    },
                                    "propertyBag": {
                                      "type": "object",
                                      "properties": {}
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "runAfter": {
                            "GetOrder": [
                              "Succeeded"
                            ]
                          }
                        }
                      },
                      "runAfter": {
                        "ParseMessageJSON": [
                          "Succeeded"
                        ]
                      }
                    }
                  }
                }
              },
              "default": {
                "actions": {
                  "Terminate": {
                    "type": "Terminate",
                    "inputs": {
                      "runStatus": "Cancelled"
                    },
                    "runAfter": {}
                  }
                }
              },
              "runAfter": {
                "Initialize_variable": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "When_a_message_is_received_in_a_topic_subscription_(auto-complete)": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['servicebus']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/@{encodeURIComponent(encodeURIComponent('occintapp0_events'))}/subscriptions/@{encodeURIComponent('Twillio')}/messages/head",
                "queries": {
                  "subscriptionType": "Main"
                }
              },
              "recurrence": {
                "frequency": "Minute",
                "interval": 1
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "servicebus": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('servicebus_1_Connection_Name'))]",
                "connectionName": "[parameters('servicebus_1_Connection_Name')]"
              },
              "twilio": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twilio')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('twilio_1_Connection_Name'))]",
                "connectionName": "[parameters('twilio_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('servicebus_1_Connection_Name'))]",
        "[resourceId('Microsoft.Web/connections', parameters('twilio_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('servicebus_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'servicebus')]"
        },
        "displayName": "[parameters('servicebus_1_Connection_DisplayName')]",
        "parameterValues": {
          "connectionString": "[parameters('servicebus_1_connectionString')]"
        }
      }
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('twilio_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'twilio')]"
        },
        "displayName": "[parameters('twilio_1_Connection_DisplayName')]",
        "parameterValues": {
          "sid": "[parameters('twilio_1_sid')]",
          "token": "[parameters('twilio_1_token')]"
        }
      }
    }
  ],
  "outputs": {}
}